[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

gunicorn = "*"
flask = "*"
mysql-connector-python-rf = "*"
omdb = "*"
flask_cors="*"
[requires]

python_version = "2.7"
