#gotoLeaderboard{
	display: none;
}
#finishButton{
	display: none;	
}
.left{
	position: absolute;
  	left: 0px;
  	width: 50%;	
}
.right{
	position: absolute;
  	right: 0px;
  	width: 50%;	
}	
#poster{
	width: 300px;
	height: 300px;
	display: none;
}
#input{
	width:30px;	
}	
#title{
	color: brown; 
	text-transform: uppercase;
	font-family: Arial;
	text-align: center;
}
.text{
	color: brown;
	font-family:Arial;
	text-position: center;
}
body{
	height: 100%;
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/97/49/3657f0dc4d372a8.jpg");
	background-repeat: no-repeat;
    	background-size: contain;
	text-align: center;
	background-attachment: fixed;
}
#submitButton{
	display: none;
}
#points{
	display: none;
}

#bottomText{
	font-size: 7px; 
	width: 100%;
	text-align: center; 
	bottom:0;
	position: fixed;
} 
