#gotoLeaderboard{
	display: none;
}

#title{
	color: brown;
	text-transform: uppercase;
	font-family: cursive;
	text-align: center;
}
body,html{
	height: 100%
	background-image: url("https://thumbs.dreamstime.com/t/red-theater-seat-isolated-white-background-d-render-55285880.jpg");
	background-position: center;
	text-align: center;
}

#heading{
	color: brown;
	font-family: cursive;
	text-align: center;
}
#explanation{
	color: brown;
	font-family: cursive;
}
#submitButton{
	display: none;
}
#points{
	display: none;
}

#bottomText{
	font-size: 7px;
	width: 100%;
	text-align: center;
	bottom:0;
	position: fixed;
}
