#heading{
  color: brown;
  text-transform: uppercase;
  font-family: cursive;
	text-align: center;
}
#leaderboard{
  color: brown;
  font-family: cursive;
	text-align: center;
}
.category{
  text-transform: uppercase;
}
body{
	height: 100%;
	background-image: url("https://thumbs.dreamstime.com/t/red-theater-seat-isolated-white-background-d-render-55285880.jpg");
	background-repeat: no-repeat;
    	background-size: cover;
	text-align: center;
	background-attachment: fixed;
}
