#heading{
  color: brown;
  text-transform: uppercase;
  font-family: cursive;
	text-align: center;
}
#leaderboard{
  font-family: cursive;
  margin: auto;
  text-align: center;
}
.category{
  color: brown;
  text-transform: uppercase;
}
body{
	height: 100%;
	background-image: url("https://thumbs.dreamstime.com/t/red-theater-seat-isolated-white-background-d-render-55285880.jpg");
	background-repeat: no-repeat;
    	background-size: cover;
	text-align: center;
	background-attachment: fixed;
}
button {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #7a5353);
  background-image: -moz-linear-gradient(top, #d93434, #7a5353);
  background-image: -ms-linear-gradient(top, #d93434, #7a5353);
  background-image: -o-linear-gradient(top, #d93434, #7a5353);
  background-image: linear-gradient(to bottom, #d93434, #7a5353);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.text{
  color: brown;
  font-family:Arial;
  text-align: center; 
  font-weight: bold;
  font-size: 14px;
}