<!DOCTYPE html>
<html>
<head>
	<title>Leaderboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/leaderboard.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/leaderboard.css">
</head>
<body>
<h2 id = "heading">Leaderboard</h2>
<table id = "leaderboard">
	<thead>
		<th class= "category">Name</th>
		<th class = "category">Score</th>
	</thead>
	<tbody>
		
	</tbody>	
</table>
<form id = "playAgain" action="https://damp-depths-96034.herokuapp.com/">
<button id = "returnButton">New Game</button>
</form>
</body>
</html>
