<!DOCTYPE html>
<html>
  <head>
    <title>Movie Score Guessing Game!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/index.css"<!-- {{url_for('static', filename='index.css')}}" -->>
  </head>
  <body>
    <div class = "left">
    <h1 id = "title">Guess the Movie Score!</h1>
    <h4 id = "heading">Think you know movies well?<br /> Let's see how accurately you can determine the Metacritic score for movies!</h4>
    <p id = "explanation">Begin by pressing start</p>
    <p>
      <input type = "text"
             id = "input"/>
    </p>
    <button type="button" id="submitButton">Start</button>
    <p id = "movieName"></p>
    <p id = "movieScore"></p>
    <p id = "guessedScore"></p>
    <p id="pointsText"></p>
    <p id="points"></p>
    </div>
    <div id = "sizing"><img id = "poster"></img></div>
    <p id="displayUsername"><p/>
    <form action="https://damp-depths-96034.herokuapp.com/leaderboard">
    <button type="submit" id="gotoLeaderboard">View Leaderboard</button>
    </form>
    <form>
     <button type="button" id = "finishButton">Finish</button>
    </form>

    <div id = "bottomText">
      <p>Created by TAPP Studios</p>
      <p>Movie data from <a href="https://www.imdb.com">IMDB</a>, <a href="https://www.metacritic.com">Metacritic</a> and <a href="https://www.themoviedb.org/?language=en"> TMDB</a></p>
    </div>
  </body>
</html>
